---
import Layout from "../layouts/Layout.astro";
import VideoCard from "../components/VideoCard.astro";
import Search from "../components/Search.astro";
import Comment from "../components/Comment.astro";
import { Client, VideoComments } from "youtubei";
import ytdl from "ytdl-core";

const { id } = Astro.params;
const youtube = new Client();

const video = await ytdl.getInfo(id || "");

const comments = (await youtube.getVideo(id || ""))?.comments as VideoComments;
await comments.next();
---

<Layout title={video.videoDetails.title}>
  <div class="2xl:ml-[20%] 2xl:mr-[20%]">
    <div class="p-4 flex justify-center">
      <Search />
    </div>
    <video controls class="w-full p-3 pt-0">
      <source
        src={video.formats
          .filter((i) => i.audioBitrate != null && i.qualityLabel != null)
          .slice(-1)[0].url}
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <div class="md:flex">
      <div class="p-3 md:w-3/4">
        <div class="p-4 rounded-md shadow-lg bg-hover">
          <h1 class="font-bold text-lg mb-3">{video.videoDetails.title}</h1>
          <div class="flex items-center">
            <img
              class="rounded-full mr-3"
              src={video.videoDetails.author.thumbnails[0].url}
            />
            <div>
              <a href={video.videoDetails.author.channel_url}>
                {video.videoDetails.author.name}
                <span class="text-gray-500"
                  >{video.videoDetails.author.user}</span
                >
              </a>
              <br />
              <span class="text-gray-500">
                {
                  video.videoDetails.author.subscriber_count?.toLocaleString(
                    undefined,
                    { minimumFractionDigits: 2 }
                  )
                } subscribers
              </span>

              <span class="text-gray-500">
                {video.videoDetails.viewCount} views
              </span>
            </div>
          </div>
        </div>

        <details
          open
          class="hidden md:block p-4 rounded-md shadow-lg bg-hover mt-4"
        >
          <summary class="font-bold cursor-pointer">Description</summary>

          <p class="whitespace-pre-line break-words">
            {video.videoDetails.description}
          </p>
        </details>

        <details class="block md:hidden p-4 rounded-md shadow-lg bg-hover mt-4">
          <summary class="font-bold cursor-pointer">Description</summary>

          <p class="whitespace-pre-line break-words">
            {video.videoDetails.description}
          </p>
        </details>

        <div
          class="hidden md:block p-4 rounded-md shadow-lg bg-hover mt-4 break-words"
        >
          <details open>
            <summary class="font-bold cursor-pointer"
              >Comments ({comments.items.length})</summary
            >
            {
              comments.items.map((i) => {
                return <Comment comment={i} />;
              })
            }
          </details>
        </div>

        <div
          class="block md:hidden p-4 rounded-md shadow-lg bg-hover mt-4 break-words"
        >
          <details>
            <summary class="font-bold cursor-pointer"
              >Comments ({comments.items.length})</summary
            >
            {
              comments.items.map((i) => {
                return <Comment comment={i} />;
              })
            }
          </details>
        </div>
      </div>

      <div class="pl-3 pr-3 mt-3 md:w-1/4">
        {
          video.related_videos.map((i) => {
            return (
              <>
                <VideoCard
                  id={i.id as string}
                  title={i.title as string}
                  thumbnail={i.thumbnails.slice(-1)[0].url}
                  author={i.author?.name}
                  views={i.short_view_count_text as string}
                  published={i.published as string}
                />
              </>
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>
