---
import Layout from "../layouts/Layout.astro";
import VideoCard from "../components/VideoCard.astro";
import ytdl, { Author } from "ytdl-core";

const { id } = Astro.params;
const video = await ytdl.getInfo(id || "");
---

<Layout title={video.videoDetails.title}>
  <div class="2xl:ml-[20%] 2xl:mr-[20%]">
    <video controls class="w-full p-3">
      <source
        src={video.formats
          .filter((i) => i.audioBitrate != null && i.qualityLabel != null)
          .slice(-1)[0].url}
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <div class="md:flex lg:flex">
      <div class="md:w-3/4 lg:w-3/4 p-3">
        <div class="p-4 rounded-md shadow-lg bg-hover">
          <h1 class="font-bold text-lg mb-3">{video.videoDetails.title}</h1>
          <div class="flex">
            <img
              class="rounded-full mr-3"
              src={video.videoDetails.author.thumbnails[0].url}
            />
            <div>
              <a href={video.videoDetails.author.channel_url}>
                {video.videoDetails.author.name}
                <span class="text-gray-500"
                  >{video.videoDetails.author.user}</span
                >
              </a>
              <br />
              <span class="text-gray-500">
                {
                  video.videoDetails.author.subscriber_count?.toLocaleString(
                    undefined,
                    { minimumFractionDigits: 2 }
                  )
                } subscribers
              </span>

              <span class="text-gray-500">
                {video.videoDetails.viewCount} views
              </span>
            </div>
          </div>
        </div>

        <div class="whitespace-pre-line p-4 rounded-md shadow-lg bg-hover mt-4">
          {video.videoDetails.description}
        </div>
      </div>

      <div class="pl-3 pr-3 md:w-1/4 lg:w-1/4 mt-3">
        {
          video.related_videos.map((i) => {
            return (
              <>
                <VideoCard
                  id={i.id as string}
                  title={i.title as string}
                  thumbnail={i.thumbnails.slice(-1)[0].url}
                  author={i.author as Author}
                  views={i.short_view_count_text as string}
                  published={i.published as string}
                />
              </>
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>
