---
import Layout from "../layouts/Layout.astro";
import VideoCard from "../components/VideoCard.astro";
import Search from "../components/Search.astro";
import YouTube from "youtube-sr";

const homepage = await YouTube.homepage();
---

<Layout title="No Script Youtube!">
  <div class="p-6 flex justify-center">
    <Search />
  </div>

  <div
    class="pl-3 pr-3 mt-3 md:grid md:grid-cols-3 md:gap-3 lg:grid-cols-4 lg:gap-4 2xl:grid-cols-5 2xl:gap-5"
  >
    {
      homepage.map((i) => {
        return (
          <>
            <VideoCard
              id={i.id}
              title={i.title}
              thumbnail={i.thumbnail}
              author={i.channel.name}
              views={i.views}
              published={i.uploadedAt}
            />
          </>
        );
      })
    }
  </div>
</Layout>
