---
interface Props {
  id: string | undefined;
  title: string | undefined;
  thumbnail: string | undefined;
  author: string | undefined;
  views: string | undefined;
  published: string | undefined;
}

const { id, title, thumbnail, author, views, published } = Astro.props;
---

<div class="mb-3 justify-end rounded-md bg-hover p-4 shadow-lg md:w-72 lg:w-72">
  <div>
    <a href={`/${id}`}>
      <img class="mb-2 rounded-lg" src={thumbnail} />
    </a>
    <a class="break-words" href={`/${id}`}>
      {title}
    </a>
    <br />
    <span class="text-gray-500">{author || "???"}</span>
    <span class="text-gray-500">
      {views} views
    </span>
    <span class="text-gray-500">{published}</span>
  </div>
</div>
