---
import { Client } from "youtubei";
import Layout from "../../layouts/Layout.astro";
import VideoCard from "../../components/VideoCard.astro";
import Search from "../../components/Search.astro";

const { query } = Astro.params;

const youtube = new Client();
const results = await youtube.search(query as string, {
  type: "video",
});
---

<Layout title={query}>
  <div class="p-6 flex justify-center">
    <Search query={query} />
  </div>

  <div
    class="pl-3 pr-3 mt-3 md:grid md:grid-cols-3 md:gap-3 lg:grid-cols-4 lg:gap-4 2xl:grid-cols-5 2xl:gap-5"
  >
    {
      results.items.map(async (i) => {
        const video = await i.getVideo();

        return (
          <VideoCard
            id={i.id}
            title={i.title}
            thumbnail={i.thumbnails[0].url}
            author={i.channel?.name}
            views={video.viewCount?.toString()}
            published={i.uploadDate}
          />
        );
      })
    }
  </div>
</Layout>
